@use '@/styles/variables' as var

.glass
  background-color: var.$surface03
  backdrop-filter: blur(10px)
  border: 0
  //border: 1px solid var.$surface07
  box-shadow: none
  //box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1)